@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareR.woff2') format('woff2'),
    url('/fonts/NanumSquareR.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareB.woff2') format('woff2'),
    url('/fonts/NanumSquareB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', Arial, sans-serif;
}

/* 부모 컨테이너 */
main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* 각 섹션 */
section {
  height: 100vh;
  scroll-snap-align: start;
}
div.slick-slide {
  text-align: center;
}

.slick-prev {
  left: -40px; /* 원하는 위치로 조정 */
  z-index: 1000;
}

/* 오른쪽 화살표 위치 */
.slick-next {
  right: -40px; /* 원하는 위치로 조정 */
  z-index: 1000;
}
